{% extends "portfolio/layout.html"%}

{% block body %}
    <h1>Buy stock</h1>
    <div class="form-container">
        <form  action="{% url 'portfolio:save_buy_stock' %}" method="post" class="my-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <input type="submit" value="Add Stock">
        </form>
        <!-- <button class="uploadCsvButton">
            <a href="{% url 'portfolio:upload_csv_history' %}">Upload History with CSV</a>
        </button> -->
    </div>
    <!-- <a href="{% url 'portfolio:index' %}">Back to portfolio</a> -->
    <!-- <a href="{% url 'portfolio:upload_csv_history' %}">Upload History with CSV</a> -->
{% endblock %}