{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/navbar_style.css' %}">
    <title>Portfolio</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div id="navBarLogo">
            <a class="navbar-brand" href="{% url 'portfolio:index' %}">
                <img src="{% static 'portfolio/img/dollar-symbol.png' %}" height="30" alt="Your Logo">
            </a>
        </div>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio:load_buy_stock' %}">Buy Stock</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio:load_sell_stock' %}">Sell Stocks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio:view_dividends' %}">View Dividends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio:view_dividends' %}">View Metrics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        {% block body %}
        {% endblock %}
    </div>

<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- JavaScript/jQuery code -->
<script>
    $(document).ready(function() {
        $(".navbar-toggler").click(function() {
            $(".navbar-nav").slideToggle();
        });
    });
</script>
</body>
</html>