{% extends "portfolio/layout.html"%}

{% block body %}
    <h1>Portfolio Metrics</h1>

    <canvas id="dividendChart"></canvas>

    <script type="text/javascript">
        var ctx = document.getElementById('dividendChart').getContext('2d');
        var labels = JSON.parse('{{ labels|safe }}');
        var data = JSON.parse('{{ data|safe }}');

        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Total Dividend Payment',
                    data: data,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}