{% extends "portfolio/layout.html"%}

{% block body %}
    <h1>Sell stock</h1>
    <div class="form-container">
        <form  action="{% url 'portfolio:save_sell_stock' %}" method="post" class="my-form">
            {% csrf_token %}
            <!-- {{ form }} -->
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            {% if message %}
                <div class="formError">
                    {{ message }}
                </div>
            {% endif %}
            <input type="submit" value="Sell Stock">
        </form>
    </div>
    <!-- <a href="{% url 'portfolio:index' %}">Back to portfolio</a> -->
{% endblock %}