{% extends "portfolio/layout.html"%}

{% block body %}
    <h1>Upload CSV</h1>
    <div class="form-container">
        <div>
            <h4>CSV format:</h4>
            <p>The CSV need to have a header with the following columns:</p>
            <p>ticker,number_stocks,price,date,type_of_action</p>
            <p><b>number_stocks</b> and <b>price</b> can be decimals and if so they need to be separated by a dot eg.: 1.1</p>
            <p><b>date</b> need to be in the format of <i>dd/mm/yyyy</i> </p>
            <p><b>type_of_action</b> can be <b>BUY</b> or <b>SELL</b> in uppercase</p>
        </div>
        <form  action="{% url 'portfolio:upload_csv_history' %}" method="post" enctype="multipart/form-data" class="my-form">
            {% csrf_token %}
            <!-- {{ form }} -->
            {% for field in form %}
                {% if field.id_for_label == "id_csv_file" %}
                    <div class="fieldWrapperUploadCsv">
                        <label class="label_upload_csv" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                        <span id="file-name" class="file-name"></span>
                    </div>
                {% else %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endif %}
                
            {% endfor %}
            <input type="submit" value="Upload transactions">
        </form>
    </div>
    <!-- <a href="{% url 'portfolio:index' %}">Back to portfolio</a> -->
    <script>
        function displayFileName(input) {
            const fileName = input.files[0].name;
            const fileNameElement = document.getElementById('file-name');
            fileNameElement.textContent = "File name is " + fileName;
            fileNameElement.style.display = 'inline'; // Change the display property to 'inline'
        }
    </script>
{% endblock %}