{% extends "portfolio/layout.html"%}

{% block body %}
    <h1>My user</h1>
    <div class="form-container">
        <form  action="{% url 'portfolio:save_buy_stock' %}" method="post" class="my-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <input type="submit" value="Update user">
        </form>
    </div>
    <a href="{% url 'users:logout' %}">Log out</a>
{% endblock %}