{% extends "portfolio/layout.html"%}

{% block body %}
    <h1>Signup</h1>
    <div class="form-container">
        <form  action="{% url 'users:signup' %}" method="post" class="my-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <input type="submit" value="Sign up">
            <a href="{% url 'users:login' %}" class="loginLinks">
                Already an user? Login
            </a>
        </form>
    </div>
{% endblock %}